.AppHeader-offsize {
  padding-top: 4.25rem;
}

.AppHeader {
  background-color: white;
  box-shadow: 0 1px 3px .5px rgba(0, 0, 0, .3);
  padding: .2rem .8rem;
  display: flex;
  line-height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 50;
}

.AppHeader__menu-button {
  align-items: center;
  border: 0;
  background-color: transparent;
  display: flex;
  font-size: 1.4rem;
}

.AppHeader__app-name {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 0;
  padding: 0 .5em;
}