.AppMenu__content {
  background-color: white;
  box-shadow: 0;
  height: 100vh;
  width: 80vw;
  max-width: 350px;
  padding: .8rem;
  position: fixed;
  transition: .3s all ease;
  left: -80vw;
  top: 0;
  z-index: 80;
}

.AppMenu--opened .AppMenu__content {
  left: 0;
  box-shadow: 0 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.AppMenu__cover {
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100vw;
  left: -100vw;
  top: 0;
  transition: .3s background-color ease;
  position: fixed;
  z-index: 79;
}

.AppMenu--opened .AppMenu__cover {
  background-color: rgba(0, 0, 0, .5);
  left: 0;
}

.AppMenu__title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.5rem 0;
}

.AppMenu__list {

}

.AppMenu__item {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8em;
  padding: .4rem;
  transition: .1s all ease;
}

.AppMenu__item--active {
  background-color: var(--primary-transparent);
  color: var(--primary);
}

.AppMenu__item:active {
  background-color: rgba(0, 0, 0, .2);
}

.AppMenu__item--active:active {
  background-color: var(--primary-transparent);
}

.AppMenu__icon {
  display: inline-block;
  width: 2em;
  text-align: center; 
}

