.EventItem {
  align-items: center;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .3);
  background-color: #009688;
  border-radius: 1rem;
  color: white;
  display: flex;
  justify-content: justify;
  margin: .8em 0;
}

.EventItem--menu {
  background-color: #0288D1;
}

.EventItem__day {
  padding: .5rem .8rem;
  text-align: center;
}

.EventItem__week-day {
  font-size: .9em;
}

.EventItem__day-number {
  font-size: 1.7em;
}

.EventItem__description {
  padding: .5rem .8rem;
}