.EventItem {
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .3);
  background-color: var(--green);
  border-radius: 1rem;
  color: white;
  margin: .8em 0;
}

.EventItem__card {
  align-items: center;
  display: flex;
  justify-content: justify;
}

.EventItem--menu {
  background-color: var(--blue);
}

.EventItem__day {
  padding: .5rem .8rem;
  text-align: center;
}

.EventItem__week-day {
  font-size: .9em;
}

.EventItem__day-number {
  font-size: 1.7em;
}

.EventItem__name {
  padding: .5rem .8rem;
}

.EventItem__info {
  padding: .3em 1em;
  padding-bottom: .8em;
}

.EventItem__attributes {
  line-height: 1.3em;
  margin-bottom: .2em;
}