.About {
    padding-left: .80rem;
    padding-right: .80rem;
    padding-bottom: .80rem;
    margin: .80rem;
}

.FronteiraInfo {
	padding-bottom: .25rem;
    text-align: justify;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	line-height: 1.5em;
}

a {
    text-decoration: none;
}
